@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Rubik:wght@300..900&display=swap');

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
 }
  
  .rubik {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

    
  .cinzel {
    font-family: "Cinzel", serif;
    font-weight: 400;
    font-style: normal;
  }

  
  body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
  }

  :root{
    --primary-color:#0d628c;
    --secondary-color: #fb8500;
    --accent1-color: #219ebc;
    --accent2-color: #ffb703;
    --Extra-color: #8ecae6;

    --heading-font: "Cinzel", serif;
    --paragraph-font:"Rubik", sans-serif;
    
    --nav-background-color: var(--accent2-color);
    --nav-link-color:var(--primary-color);
    --nav-hover-link-color:var(--accent1-color);
    --nav-hover-background-color:var(--accent2-color)
  }

  h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
    color:var(--primary-color)
  }


 h1{
    position: absolute;
 }

 article{
    position: absolute;
 }

 p{
    padding: 20px 10px 20px 10px;
    text-align: justify;

 }

 h2{
    padding-bottom: 20px;
    color: #fb8500;
    text-align: center;
    
 }

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    border: none;
    box-shadow: none;
}

.hero h2{
    padding: 10px;
    color: white;
    text-align: left;
 }

.hero h1 {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    background-color: rgba(20, 20, 20, 0.5); /* Fundo com transparência */
    color: white; /* Cor do texto branco */
    margin: 0;
    padding: 10px 0; /* Ajuste o padding conforme necessário */
    text-align: center; /* Centraliza o texto */
}

.hero article {
    position: absolute;
    top: 40%;
    left: 10%;
    right: 10%;
    background-color: rgba(10, 68, 110, 0.6);
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.hero article img {
    max-width: 200px;
    float: right;
    margin: 0 10px 20px 20px;
    height: auto;
    border: 1px solid #fffffe;
    padding: 0;
    
}
.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
    text-align: justify;
}

.center-img {
    grid-column: 2;
    width: 100%;
    height: auto;
}

.left {
    grid-column: 1;
}

.right {
    grid-column: 3;
}

.adventure {
    text-align: center;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    gap: 5px; /* Espaçamento entre as figuras */
}

figure {
    text-align: center;
    
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 1px solid #f5fafc;
    padding: 1px;
    box-shadow: 0 0 5px gray;
}


figcaption {
    margin-top: 8px;
}


section{
   padding: 5px;
   margin-top: 10px;
   border: 1px solid rgb(229, 230, 233);
}

header{
    margin: 1rem auto;
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
    background-color: #fb8500;
   
}

header .logo{
    display: flex;
    align-items: center;
}

header img{
    width: 180px;
    padding-left: 30px;
    border: none;
    box-shadow: none;

}

header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px;
}
    

header nav a {
    text-decoration: none;
    
    color:white;
    background-color: transparent;
    padding: 10px 25px;
    margin-right: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
    
header nav a:hover {
    background-color: #0d628c; 
}
    
nav a:last-child {
    margin-right: 0;
}

footer {
    background-color: transparent;
    padding: 3rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sociallinks {
    display: flex;
    gap: 10px;
}

.sociallinks a {
    display: inline-block;
}

.sociallinks img {
    width: 50px;
    height: auto;
    padding: 3px;
    border: none;
    box-shadow: none;
}

body, .container {
    width: 100%; /* Largura do contêiner principal */
    margin: 0 auto; /* Centraliza o contêiner na página */
    padding: 0; /* Espaçamento interno do contêiner */
    background-color: transparent /* Cor de fundo do contêiner */
    
}

/* 27/06/2024 */