  .frank-ruhl-libre {
    font-family: "Frank Ruhl Libre", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  .m-plus-rounded-1c-medium {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
    
  .cinzel {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  

  body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
  }

  :root{
    --primary-color:#0d628c;
    --secondary-color: #fb8500;
    --accent1-color: #219ebc;
    --accent2-color: #ffb703;
    --Extra-color: #8ecae6;

    --heading-font:'Cinzel', serif;
    --paragraph-font:'M PLUS Rounded 1c',sans-serif;
    
    --nav-background-color: var(var(--accent2-color))
    --nav-link-color:var(--primary-color);
    --nav-hover-link-color:var(--accent1-color);
    --nav-hover-background-color:var(--accent2-color)
  }

  h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
    color:var(--primary-color)
  }

  header{
    padding: 20px;
    background-color: var(--accent2-color);
  }


  p{
    padding: 25px;
    color: solid black;
  }


  nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display:flex;
  }


  nav a{
    display: block;
    color: var(--nav-link-color);
    padding: 1rem;
  }


  nav a:link, nav a :visited{
    color: var(--nav-link-color)
  }

  
  nav a:hover{
    color:var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }