@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Frank+Ruhl+Libre:wght@300..900&family=M+PLUS+Rounded+1c:wght@400;500&display=swap');

  
  
  .frank-ruhl-libre {
    font-family: "Frank Ruhl Libre", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .m-plus-rounded-1c-medium {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
    
  .cinzel {
    font-family: "Cinzel", serif;
    font-weight: 400;
    font-style: normal;
  }
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

:root{
    --primary-color:#0d628c;
    --secondary-color: #fb8500;
    --accent1-color: #219ebc;
    --accent2-color: #ffb703;
    --Extra-color: #8ecae6;

    --heading-font:'Cinzel', serif;
    --paragraph-font:'Frank Ruhl Libre',sans-serif;
    
    --nav-background-color: var(--accent2-color);
    --nav-link-color:var(--primary-color);
    --nav-hover-link-color:var(--accent1-color);
    --nav-hover-background-color:var(--accent2-color)
  }

  h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
    color:var(--primary-color);
    padding-left: 2rem;
  }


nav{
    background-color: #0d628c;
    padding: 20px;
}

nav a {
    color: white;
    padding: 10px;
    display: block;
    

}


main img{
    width: 150px;
    height: auto;
    border: 1px solid #0d628c;
    padding: 3px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 1rem 0 1rem 1rem;
}

p{
    margin: 1rem;
    
}

main {
    max-width: 640px;
    ;
}


aside{
    width: 25rem;
    text-align: center;
    position: relative;

}


aside img {
    width: 200px;
    height: auto;
    padding: 1px;
    box-shadow: 0 0 20px rgb(124, 127, 133);
}

aside h2 {
    position: absolute;
    top: 25px;
    left : 150px;
}

footer {
    margin-top: 15px;
    border-top: 2px outset #0d628c;
    text-align: center;
}
h2{
    color: #0d628c;
    padding: 1px;
    margin-top: 0;

    
}

/* Class Selectors */

.box {
    margin:1rem ;
    border: 1px dotted #0d628c ;
    padding: 1rem;
    background-color: #ddf1f8;
    color: #0d628c;
}

.indent {
    padding-left: 2rem;

}