@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Rubik:wght@300..900&display=swap');
  
  
.rubik {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
    
  .cinzel {
    font-family: "Cinzel", serif;
    font-weight: 300;
    font-style: normal;
  }
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header, .grid, footer{
    max-width: 840px;
    margin: 0 auto;
}

body{
    font-family: var(--paragraph-font);
  
   
}

:root{
    --primary-color: #0d628c;
    --secondary-color: #fb8500;
    --accent1-color: #219ebc;
    --accent2-color: #ffb703;
    --Extra-color: #8ecae6;

    --heading-font:'cinzel', serif;
    --paragraph-font:'rubik',sans-serif;
    
    --nav-background-color: var(--accent2-color);
    --nav-link-color:var(--primary-color);
    --nav-hover-link-color:var(--accent1-color);
    --nav-hover-background-color:var(--accent2-color)
  }

  h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
    color: var(--primary-color);
    padding-left: 2rem;
  }

h1{
    border-bottom: 1px outset  #0d628c;
    padding: 1rem;
    font-size: 30px;
 
}
nav{
    background-color: #0d628c;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-family: 'cinzel', serif;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff; 

} 


main img{
    width: 150px;
    height: auto;
    border: 1px solid #0d628c;
    padding: 3px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 1rem 0 1rem 1rem;
}

p{
    margin: 1rem;
    
    
}


.grid{
    display: grid;
    align-items: center;
}

main{
    grid-column: 2/3;
    margin: 1rem;
}


aside{
    width: 20rem;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;

}


aside img {
    width: 200px;
    height: auto;
    padding: 2px;
    border: 1px solid #219ebc;
    
    
}

aside h2 {
    position: absolute;
    top: 30px;
    left : 80px;
    color: #0d628c;
    
}


footer {
    color:#0d628c ;
    margin-top: 25px;
    border-top: 2px outset #0d628c;
    text-align: center;
}




.box {
    margin:1rem ;
    border: 1px solid #0d628c ;
    padding: 1rem 0 0 0;
    background-color:#f7fcff;
    color: #0d628c;
}

.indent {
   
    padding: 2rem;

}

/* 27/06/2024 */